In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy as np
import os
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import ticker
import matplotlib.colors as mc
import statsmodels.formula.api as sm

In [2]:
gb_df = pd.read_csv('GBvideos.csv')
us_df = pd.read_csv('USvideos.csv')

In [3]:
# Remove unecessary columns
del_col = ['video_id','thumbnail_link','comments_disabled','ratings_disabled','video_error_or_removed','description']
us_df = us_df.drop(del_col, axis=1)

In [4]:
# Remove unecessary columns
del_col2 = ['video_id','thumbnail_link','comments_disabled','ratings_disabled','video_error_or_removed','description']
gb_df = gb_df.drop(del_col2, axis=1)

In [5]:
us_df

,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count
0,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954
1,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703
2,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181
3,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146
4,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518
...,...,...,...,...,...,...,...,...,...,...
40944,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657
40945,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936
40946,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992
40947,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088
40948,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795

In [6]:
us_df['tags']

0                                          SHANtell martin
1        last week tonight trump presidency|"last week ...
2        racist superman|"rudy"|"mancuso"|"king"|"bach"...
3        rhett and link|"gmm"|"good mythical morning"|"...
4        ryan|"higa"|"higatv"|"nigahiga"|"i dare you"|"...
                               ...
40944    aarons animals|"aarons"|"animals"|"cat"|"cats"...
40945                                               [none]
40946    I gave safiya nygaard a perfect hair makeover ...
40947    Black Panther|"HISHE"|"Marvel"|"Infinity War"|...
40948        call of duty|"cod"|"activision"|"Black Ops 4"
Name: tags, Length: 40949, dtype: object

In [7]:
tagsdict = {}
for tag in us_df['tags']:
    depiped = tag.split('|')
    for item in depiped:
        cleanitem = item.replace('"','')
        if cleanitem in tagsdict:
            tagsdict[cleanitem] += 1
        else:
            tagsdict[cleanitem] = 1

In [8]:
tagsseries = pd.Series(tagsdict)

In [9]:
tagsseries.sort_values(ascending=False).nlargest(11)

funny      3603
comedy     2931
how to     1604
[none]     1535
music      1302
Pop        1280
2018       1275
humor      1185
food       1159
science    1111
review     1005
dtype: int64

In [36]:
us_df[['category_id', 'views']][us_df['tags'].str.contains('funny')]

       category_id    views
3               24   343168
4               24  2095731
6               24  2103417
16              23   295639
24              23    33980
...            ...      ...
40906           23   661572
40916           24  2310794
40922           23   588133
40934           24  8607264
40943           22  8259128

[4711 rows x 2 columns]

In [37]:
us_df[['category_id', 'views']][us_df['tags'].str.contains('comedy')]

       category_id    views
3               24   343168
4               24  2095731
6               24  2103417
16              23   295639
24              23    33980
...            ...      ...
40902           22  3464680
40906           23   661572
40922           23   588133
40934           24  8607264
40947            1  5660813

[3310 rows x 2 columns]